@media all {

    /* Variáveis */
    :root {
        --bg-color1: #212529;
        --bg-color2: #1c1c1e;
        --bg-color3: #343a40;
        --bg-color4: #0b090a;
        --txt-color1: #f8f9fa;
        --txt-color2: #dee2e6;
        --txt-color3: #ced4da;
        --label-green: #7cb518;
        --label-red: #da1e37;
    }

    /* Animações */
    @keyframes fade-in {
        0% {
            transform: scale(0.9);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes fade-out {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        100% {
            transform: scale(0.9);
            opacity: 0;
        }
    }

    /* General styles for all devices */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
        max-width: 100dvw;
        height: 100%;
        max-height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-image: url("../pictures/bg.jfif");
        background-size: cover;
        background-repeat: no-repeat;
    }

    header {
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(50px);
    }

    header h1 {
        font-family: "Poppins", sans-serif;
        font-size: 2rem;
        color: var(--txt-color1);
    }

    main {
        width: 100%;
        height: 100%;
        margin-top: 25px;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 20px;
    }

    main::-webkit-scrollbar {
        display: none;
    }

    #chat {
        width: 80%;
        height: 100%;
        overflow-y: auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 30px var(--bg-color2);
        gap: 30px;
    }

    #chat::-webkit-scrollbar {
        width: 10px;
        background: none;
    }

    #chat::-webkit-scrollbar-thumb {
        background-color: var(--bg-color3);
    }

    .mensagem {
        width: auto;
        min-width: 40%;
        max-width: 70%;
        height: auto;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        background-color: var(--bg-color2);
        box-shadow: 0 0 20px var(--bg-color1);
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .mensagem h2 {
        font-family: "Poppins", sans-serif;
        font-size: 1.75rem;
        color: var(--txt-color1);
    }

    .mensagem p {
        width: 100%;
        font-family: arial;
        font-size: 1.2rem;
        color: var(--txt-color2);
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .mensagem .data {
        font-style: italic;
        font-size: 0.9rem;
        opacity: 75%;
    }

    .minhaMensagem {
        align-self: flex-end;
        background-color: var(--bg-color4);
    }

    #txt-field {
        width: 80%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    #txt-field textarea {
        width: 90%;
        height: 50px;
        resize: none;
        padding: 1rem;
        background: none;
        border: none;
        border-radius: 16px;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 20px var(--bg-color3);
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        color: var(--txt-color2);
        transition: 0.3s ease-out;
    }

    #txt-field textarea:focus {
        box-shadow: 0 0 40px var(--bg-color3);
    }

    #txt-field textarea::-webkit-scrollbar {
        display: none;
    }

    #txt-field button {
        width: 10%;
        height: 50px;
        background-color: #000;
        box-shadow: 0 0 30px var(--bg-color2);
        border: none;
        border-radius: 12px;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        color: var(--txt-color3);
        cursor: pointer;
        transition: 0.3s ease-out;
    }

    #txt-field button:hover {
        background-color: var(--bg-color3);
    }

    .container {
        width: auto;
        max-width: 50%;
        height: auto;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 20px var(--bg-color2);
    }

    .container h2 {
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
        color: var(--label-red);
    }

    .container p {
        font-family: arial;
        font-size: 1.2rem;
        color: var(--txt-color2);
    }

    .container li {
        margin-left: 1.2rem;
    }

    .container li::marker {
        color: var(--txt-color2);
    }

    .container a {
        font-family: arial;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--txt-color3);
        text-decoration: none;
        transition: 0.3s ease-out;
    }

    .container a:hover {
        color: var(--txt-color1);
    }

    footer {
        width: 100%;
        height: auto;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(50px);
        opacity: 80%;
    }

    footer h2 {
        font-family: "Poppins", sans-serif;
        font-size: 1.4rem;
        color: var(--txt-color1);
        opacity: 80%;
    }
}


@media only screen and (max-width: 599px) {

    /* Styles for smartphones */
    #chat {
        width: 90%;
        padding: 1rem;
        gap: 20px;
    }

    #txt-field {
        width: 90%;
    }

    #txt-field textarea {
        width: 75%;
        height: 40px;
    }

    #txt-field button {
        width: 25%;
        height: 40px;
    }

    .mensagem {
        min-width: 60%;
        max-width: 90%;
    }

    .mensagem p {
        font-size: 1rem;
    }

    .mensagem .data {
        font-size: 0.8rem;
    }

    .container {
        width: auto;
        max-width: 85%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {

    /* Styles for smartphones in landscape */
    header {
        height: 10%;
    }

    #chat {
        width: 90%;
        padding: 0.3rem;
        gap: 20px;
    }

    #txt-field {
        width: 90%;
    }

    #txt-field textarea {
        width: 75%;
        height: 30px;
    }

    #txt-field button {
        width: 25%;
        height: 30px;
    }

    .mensagem {
        min-width: 60%;
        max-width: 90%;
    }

    .mensagem p {
        font-size: 1rem;
    }

    .mensagem .data {
        font-size: 0.8rem;
    }

    .container {
        width: auto;
        max-width: 85%;
    }

    footer {
        height: 5%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    /* Styles for tablets */
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
    /* Styles for tablets in landscape */
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {

    /* Styles for small laptops */
    .mensagem {
        min-width: 30%;
        max-width: 70%;
    }
}

@media only screen and (min-width: 1440px) {
    /* Styles for desktops and larger laptops */
}

@media only screen and (min-width: 1920px) {
    /* Styles for large screens and monitors */
}